
/* default
=========================================== */
html {
  cursor: default;
  line-height: 1.4;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  margin: 0;
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
}

/* main
=========================================== */
.pageLogin {
  min-width: 550px;
  margin: 50px 100px;
}

.pageLogin > .title {
  margin-bottom: 30px;
}

.pageLogin > .contentsBg {
  padding: 20px;
  background-color: #F8F8F8;
}

.pageLogin > .contentsBg > .contents {
  padding: 80px;
  background-color: #fff;
}

.pageLogin > .contentsBg > .contents > .layout {
  width: 300px;
}

.pageLogin > .contentsBg > .contents > .layout .btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.pageLogin > .contentsBg > .contents > .layout .inputCheck:hover {
  cursor: pointer;
}

/* お客様ID */
/* ---------------------------------- */
.pageLogin > .contentsBg > .contents > .layout > .loginId {
  margin-bottom: 50px;
}

.pageLogin > .contentsBg > .contents > .layout > .loginId > .labelId {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.pageLogin > .contentsBg > .contents > .layout > .loginId > .inputId {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 16px;
  background-color: #FDF4F5;
  border: 1px solid #DEDEDE;
}

.pageLogin > .contentsBg > .contents > .layout > .loginId > .remarks {
  font-size: 14px;
}

/* パスワード */
/* ---------------------------------- */
.pageLogin > .contentsBg > .contents > .layout > .loginPass {
  margin-bottom: 50px;
}

.pageLogin > .contentsBg > .contents > .layout > .loginPass > .labelPass {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.pageLogin > .contentsBg > .contents > .layout > .loginPass > .inputPass {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 16px;
  background-color: #FDF4F5;
  border: 1px solid #DEDEDE;
}

/* ログインボタン */
/* ---------------------------------- */
.pageLogin > .contentsBg > .contents > .layout > .loginBtn {
  margin-bottom: 30px;
  text-align: center;
}

.pageLogin > .contentsBg > .contents > .layout > .loginBtn > .btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 45px;
  margin: 0 auto 5px auto;
  font-size: 18px;
  color: #fff;
  background-color: #CC0100;
}

.pageLogin > .contentsBg > .contents > .layout > .loginBtn > .btn::after {
  content: "";
  position: absolute;
  right: 20px;
  display: block;
	width: 8px;
	height: 8px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
}

/* 新規登録 */
/* ---------------------------------- */
.pageLogin > .contentsBg > .contents > .layout > .signUp > .btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 45px;
  margin: 0 auto 5px auto;
  font-size: 18px;
  color: #CC0100;
  border: 1px solid #CC0100;
}
